.DS_store

# Tools
__pycache__
.envrc
.idea
*.log
.now
.terraform
*tfstate*
.vagrant
.vscode
.venv

# kiwix
config/services/kiwix/data/
library.xml
.zims

# calibre
config/services/calibre/data-calibre-server/
config/services/calibre/data-calibre-web/

# nextcloud
config/services/nextcloud/config/
config/services/nextcloud/data/

# transmission
config/services/transmission/config/
config/services/transmission/downloads/
config/services/transmission/watch/

# wordpress
config/services/wordpress/html/

# jellyfin
config/services/jellyfin/config/
config/services/jellyfin/data/

# traefik
certs
acme
