version: "3.8"
services:
  wordpress:
    container_name: wordpress
    image: wordpress:{{version_wordpress}}
    user: "{{uid}}:{{gid}}"  # run the container service as app user (not root)
    environment:
      WORDPRESS_DB_HOST: {{mysql_host}}
      WORDPRESS_DB_USER: {{mysql_user_wordpress}}
      WORDPRESS_DB_PASSWORD: {{mysql_password_wordpress}}
      WORDPRESS_DB_NAME: {{mysql_user_wordpress}}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_ALLOW_MULTISITE', true );
        define('AUTOMATIC_UPDATER_DISABLED', true );
    networks:
      - mysql
      - traefik
    restart: unless-stopped
    volumes:
      - {{project_root}}/wordpress/data:/var/www/html/wp-content
    labels:
      traefik.enable: "true"
      traefik.http.routers.wordpress.entrypoints: websecure
      traefik.http.routers.wordpress.rule: Host(`{{domain}}`)
      traefik.http.routers.wordpress.tls: "true"
      traefik.http.services.wordpress.loadbalancer.server.port: 80
{% if server_is_live %}
      traefik.http.routers.wordpress.tls.certresolver: {{cert_resolver}}
{% endif %}

networks:
  traefik:
    external: true
  mysql:
    external: true
