http:
  middlewares:
    admin-auth:
      basicAuth:
        users:
          - "admin:{{password_admin|password_hash('bcrypt')}}"

{% if static_certificate is truthy %}
tls:
  options:
    default:
      minVersion: VersionTLS12
    mintls13:
      minVersion: VersionTLS13
  stores:
    default:
      defaultCertificate:
        certFile: /certs/{{static_certificate}}.crt
        keyFile: /certs/{{static_certificate}}.key
{% endif %}
