http:
  middlewares:
    admin-auth:
      basicAuth:
        users:
          - "admin:{{password_admin|password_hash('bcrypt')}}"

{% if ssl_key is truthy and ssl_cert is truthy %}
tls:
  options:
    default:
      minVersion: VersionTLS12
    mintls13:
      minVersion: VersionTLS13
  stores:
    default:
      defaultCertificate:
        certFile: /certs/{{domain}}.crt
        keyFile: /certs/{{domain}}.key
{% endif %}
