version: "3.8"

networks:
  traefik:
    external: true

services:
  calibre:
    image: linuxserver/calibre-web
    container_name: calibre
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
      # - TZ={{ tz }}  # it requires database in Etz/UTC format or Europe/Prague
    volumes:
      - "{{app_root}}/web:/config"
      - "{{app_root}}/data:/app/calibre-web/data"
    restart: unless-stopped
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.calibre.entrypoints: websecure
      traefik.http.routers.calibre.rule: Host(`{{subdomain_calibre}}.{{domain}}`)
      traefik.http.routers.calibre.tls: "true"
      traefik.http.services.calibre.loadbalancer.server.port: 8083
{% if ssl_use_acme %}
      traefik.http.routers.calibre.tls.certresolver: {{cert_resolver}}
{% endif %}
