version: "3.8"
services:
  docs:
    build: .
    container_name: docs
    restart: always
    labels:
      traefik.enable: "true"
      traefik.http.routers.docs.entrypoints: websecure
      traefik.http.routers.docs.rule: Host(`${DOMAIN_MKDOCS}`)
      traefik.http.routers.docs.tls: "true"
{% if server_is_public %}
      traefik.http.routers.docs.tls.certresolver: ${CERT_RESOLVER}
{% endif %}
      traefik.http.services.docs.loadbalancer.server.port: 80
    networks:
      - traefik

networks:
  traefik:
    external: true
