version: "3.8"
services:
  moodle:
    image: bitnami/moodle:{{version_moodle}}
    environment:
      - PUID={{uid}}
      - PGID={{gid}}
      - MOODLE_DATABASE_HOST={{mysql_host}}
      - MOODLE_DATABASE_NAME={{db_name_moodle}}
      - MOODLE_DATABASE_USER={{db_user_moodle}}
      - MOODLE_DATABASE_PASSWORD={{db_pass_moodle}}
      # let moodle create the database
      - MYSQL_CLIENT_DATABASE_HOST={{mysql_host}}
      - MYSQL_CLIENT_DATABASE_ROOT_PASSWORD={{mysql_root_password}}
      - MYSQL_CLIENT_CREATE_DATABASE_NAME={{db_name_moodle}}
      - MYSQL_CLIENT_CREATE_DATABASE_USER={{db_user_moodle}}
      - MYSQL_CLIENT_CREATE_DATABASE_PASSWORD={{db_pass_moodle}}
      - MYSQL_CLIENT_CREATE_DATABASE_CHARACTER_SET=utf8mb4
      - MYSQL_CLIENT_CREATE_DATABASE_COLLATE=utf8mb4_unicode_ci
      # moodle admin account
      - MOODLE_USERNAME=admin
      - MOODLE_PASSWORD={{password_admin}}
      - MOODLE_EMAIL={{email_admin}}
      - MOODLE_HOST={{subdomain_moodle}}.{{domain}}
      - MOODLE_SITE_NAME="Lokal Moodle"
    volumes:
      - '{{app_root}}/app:/bitnami/moodle'
      - '{{app_root}}/data:/bitnami/moodledata'
    labels:
      traefik.enable: "true"
      traefik.http.routers.moodle.entrypoints: websecure
      traefik.http.routers.moodle.rule: Host(`{{subdomain_moodle}}.{{domain}}`)
      traefik.http.routers.moodle.tls: "true"
{% if ssl_use_acme %}
      traefik.http.routers.moodle.tls.certresolver: {{cert_resolver}}
{% endif %}
      traefik.http.services.moodle.loadbalancer.server.port: 8080
    networks:
      - mysql
      - traefik

networks:
  traefik:
    external: true
  mysql:
    external: true