version: "3.8"
services:
  moodledb:
    image: docker.io/bitnami/mariadb:10.5
    user: "{{uid}}:{{gid}}"  # run the container service as app user (not root)
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_moodle
      - MARIADB_DATABASE=bitnami_moodle
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
    volumes:
      - '{{app_root}}/db:/bitnami/mariadb'
    networks:
      - moodle
    # we don't actually need to expose the port (nobody connects externally)
    # ports:
    #  - 3307:3306

  moodle:
    image: docker.io/bitnami/moodle:3
    user: "{{uid}}:{{gid}}"  # run the container service as app user (not root)
    environment:
      - MOODLE_DATABASE_HOST=moodledb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=bn_moodle
      - MOODLE_DATABASE_NAME=bitnami_moodle
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - '{{app_root}}/app:/bitnami/moodle'
      - '{{app_root}}/data:/bitnami/moodledata'
      # TODO: check the sock name and path
      # - '{{app_root}}/db/mysqldb.sock:/var/lib/mysqld/mysqldb.sock'
    depends_on:
      - moodledb
    labels:
      traefik.enable: "true"
      traefik.http.routers.moodle.entrypoints: websecure
      traefik.http.routers.moodle.rule: Host(`moodle.{{domain}}`)
      traefik.http.routers.moodle.tls: "true"
{% if server_is_live %}
      traefik.http.routers.moodle.tls.certresolver: {{cert_resolver}}
{% endif %}
      traefik.http.services.moodle.loadbalancer.server.port: 80
    networks:
      - moodle
      - traefik

networks:
  traefik:
    external: true
  moodle:
    name: moodle
