# This is an example config file for your example services
# It can have any format because you use jinja2 templates

# Available variables are composed from following files:
#  - roles/lokal/defaults/main.yml
#  - roles/<your-service>/defaults/main.yml
#  - hosts/<your-host-file>.yml

HOST: {{domain}}

MY_COSTOM_VARIABLE: 5
HELLO: "world"