version: "3.8"

networks:
  traefik:
    name: traefik
  prometheus:
    name: prometheus

services:
  grafana:
    container_name: grafana
    image: grafana/grafana:{{version_grafana}}
    user: "{{uid}}:0"
    environment:
#     GF_INSTALL_PLUGINS: grafana-clock-panel,natel-discrete-panel,grafana-piechart-panel
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_USERS_ALLOW_SIGN_UP: "false"
#     GF_LOG_LEVEL: debug
      GF_SECURITY_ADMIN_PASSWORD: "{{password_admin}}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.rule: Host(`{{subdomain_grafana}}.{{domain}}`)
      traefik.http.routers.grafana.tls: "true"
      traefik.http.services.grafana.loadbalancer.server.port: 3000
{% if ssl_use_acme %}
      traefik.http.routers.grafana.tls.certresolver: {{cert_resolver}}
{% endif %}
    volumes:
      - {{project_root}}/base/grafana/:/var/lib/grafana/
    networks:
      - traefik
      - prometheus
      - mail
    restart: unless-stopped
