version: "3.8"
services:
  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    environment:
      MYSQL_PASSWORD: {{mysql_password_nextcloud}}
      MYSQL_DATABASE: {{mysql_database_nextcloud}}
      MYSQL_USER: {{mysql_user_nextcloud}}
      MYSQL_HOST: {{mysql_host}}
    volumes:
      - {{project_root}}/nextcloud/config:/config
      - {{project_root}}/nextcloud/data:/var/www/html
    restart: unless-stopped
    networks:
      - mysql
      - prometheus
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.nextcloud.entrypoints: websecure
      traefik.http.routers.nextcloud.rule: Host(`{{subdomain_nextcloud}}.{{domain}}`)
      traefik.http.routers.nextcloud.tls: "true"
      traefik.http.services.nextcloud.loadbalancer.server.port: 80
      {% if server_is_live %}
      traefik.http.routers.nextcloud.tls.certresolver: {{cert_resolver}}
      {% endif %}

networks:
  traefik:
    external: true
  mysql:
    external: true
  prometheus:
    external: true