version: "3.8"

networks:
  traefik:
    external: true
  mysql:
    external: true

services:
  asterisk:
    image: flaviostutz/freepbx:latest
    container_name: asterisk
    cap_add:
      - NET_ADMIN
    # ports:
    # - '4445:4445' # fop
    # - '4569:4569' # iax
      - '5060:5060' # pjsip
      - '5160:5160' # sip
    # - '8001:8001' # ucp
    # - '8003:8003' # ucp ssl
    # - '8008:8008' # ucp
    # - '8009:8009' # ucp ssl
      - '18000-18100:18000-18100/udp' # rtp ports
    restart: always
    environment:
      ADMIN_PASSWORD: "{{password_admin}}"
      DB_EMBEDDED: "false"
      DB_HOST: "{{mysql_host}}"
      DB_PORT: "{{mysql_port}}"
      DB_NAME: "{{db_name_asterisk}}"
      DB_USER: "{{db_user_asterisk}}"
      DB_PASS: "{{db_password_asterisk}}"
      ENABLE_SSL: "false"
      ENABLE_FAIL2BAN: "true"
    networks:
      - traefik
      - mysql
    volumes:
      - {{app_root}}/backup:/backup
      - {{app_root}}/recordings:/var/spool/asterisk/monitor
    labels:
      traefik.enable: "true"
      traefik.http.routers.asterisk.entrypoints: websecure
      traefik.http.routers.asterisk.rule: Host(`{{subdomain_asterisk}}.{{domain}}`)
      traefik.http.routers.asterisk.tls: "true"
      traefik.http.services.asterisk.loadbalancer.server.port: 80
{% if ssl_use_acme %} # please keep this part to have automatic certificate issue and renewal
      traefik.http.routers.asterisk.tls.certresolver: {{cert_resolver}}
{% endif %}
