version: "3.8"

networks:
  traefik:
    name: traefik
  mysql:
    name: mysql
  prometheus:
    name: prometheus

volumes:
  mysql:
    name: mysql
  matomo:
    name: matomo
  resourcespace:
    name: resourcespace
  nextcloud:
    name: nextcloud
  portainer:
    name: portainer
  unifi-controller:
    name: unifi-controller
  kolibri:
    name: kolibri
  jellyfin:
    name: jellyfin

services:
  grafana:
    container_name: grafana
    image: grafana/grafana:7.3.7
    environment:
      GF_INSTALL_PLUGINS: grafana-clock-panel,natel-discrete-panel,grafana-piechart-panel
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.rule: Host(`{{domain_grafana}}`)
      traefik.http.routers.grafana.tls: "true"
      traefik.http.services.grafana.loadbalancer.server.port: 3000
      {% if is_live %}
      traefik.http.routers.grafana.tls.certresolver: {{cert_resolver}}
      {% endif %}
    volumes:
      - {{project_root}}/grafana:/var/lib/grafana:rw
    networks:
      - traefik
      - prometheus
    restart: unless-stopped

  netdata:
    container_name: netdata
    cap_add:
      - SYS_PTRACE
    environment:
      PGID: ${DOCKER_PGID}
    hostname: {{domain_netdata}}
    image: netdata/netdata:v1.28.0-amd64
    labels:
      traefik.enable: "true"
      traefik.http.routers.netdata.entrypoints: websecure
      traefik.http.routers.netdata.rule: Host(`{{domain_netdata}}`)
      traefik.http.routers.netdata.tls: "true"
      traefik.http.services.netdata.loadbalancer.server.port: 19999
      {% if is_live %}
      traefik.http.routers.netdata.middlewares: traefik-auth
      traefik.http.routers.netdata.tls.certresolver: {{cert_resolver}}
      {% endif %}
    networks:
      - traefik
      - prometheus
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.24.1
    labels:
      traefik.enable: "true"
      traefik.http.routers.prometheus.entrypoints: websecure
      traefik.http.routers.prometheus.rule: Host(`{{domain_prometheus}}`)
      traefik.http.routers.prometheus.tls: "true"
      traefik.http.services.prometheus.loadbalancer.server.port: 9090
      {% if is_live %}
      traefik.http.routers.prometheus.middlewares: traefik-auth
      traefik.http.routers.prometheus.tls.certresolver: {{cert_resolver}}
      {% endif %}
    networks:
      - traefik
      - prometheus
    restart: unless-stopped
    volumes:
      - {{project_root}}/prometheus/etc:/etc/prometheus
      - {{project_root}}/prometheus/data:/prometheus
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml

  traefik:
    container_name: traefik
    image: traefik:v2.3.6
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`{{domain_traefik}}`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.tls: "true"
      traefik.http.services.traefik.loadbalancer.server.port: 8080
      {% if is_live %}
      traefik.http.middlewares.traefik-auth.basicauth.users: {{traefik_basicauth_users}}
      traefik.http.routers.traefik.middlewares: traefik-auth
      traefik.http.routers.traefik.tls.certresolver: {{cert_resolver}}
      {% endif %}
    networks:
      - traefik
      - prometheus
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    {% if is_live %}
      - {{project_root}}/traefik/config/live/dynamic.yml:/config/live.yml
      - {{project_root}}/traefik/config/local/dynamic.yml:/config/local.yml
      - ./acme:/acme
      - ./config/services/traefik/certs:/certs
    command:
      - --accessLog=true
      - --api.insecure=false
      - --api.dashboard=true
      - --api.debug=false
      - --certificatesResolvers.dns.acme.dnsChallenge.delayBeforeCheck=60
      - --certificatesResolvers.dns.acme.dnsChallenge.provider=${DNS_PROVIDER}
      - --certificatesResolvers.dns.acme.email=${ACME_EMAIL}
      - --certificatesResolvers.dns.acme.storage=/acme/acme.json
      - --certificatesresolvers.http.acme.httpchallenge=true
      - --certificatesresolvers.http.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.http.acme.email=${ACME_EMAIL}
      - --certificatesresolvers.http.acme.storage=/acme/acme.json
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entryPoints.metrics.address=:8082
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --log.level=WARNING
      - --metrics.prometheus=true
      - --metrics.prometheus.buckets=0.100000, 0.300000, 1.200000, 5.000000
      - --metrics.prometheus.addEntryPointsLabels=true
      - --metrics.prometheus.addServicesLabels=true
      - --metrics.prometheus.entryPoint=metrics
      - --providers.docker=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik
      - --providers.file.directory=/config
      - --providers.file.watch=true
      - --serversTransport.insecureSkipVerify=true
    environment:
      - NAMECHEAP_API_USER
      - NAMECHEAP_API_KEY
    {% endif %}

  mariadb:
    container_name: ${MYSQL_HOST}
    image: mariadb:10.5.8-focal
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - mysql
      - prometheus
    restart: unless-stopped
    volumes:
      - mysql:/var/lib/mysql

  matomo:
    container_name: matomo
    hostname: ${DOMAIN_MATOMO}
    image: matomo:4.1.1-apache
    restart: unless-stopped
    volumes:
      - matomo:/var/www/html
    environment:
      MATOMO_DATABASE_HOST: ${MYSQL_HOST}
      MATOMO_DATABASE_ADAPTER: mysql
      MATOMO_DATABASE_TABLES_PREFIX: matomo_
      MATOMO_DATABASE_USERNAME: ${MYSQL_USER_MATOMO}
      MATOMO_DATABASE_PASSWORD: ${MYSQL_PASSWORD_MATOMO}
      MATOMO_DATABASE_DBNAME: ${MYSQL_DATABASE_MATOMO}
    networks:
      - mysql
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.matomo.entrypoints: websecure
      traefik.http.routers.matomo.rule: Host(`${DOMAIN_MATOMO}`)
      traefik.http.routers.matomo.tls: "true"
      traefik.http.services.matomo.loadbalancer.server.port: 80
      {% if is_live %}
      traefik.http.routers.matomo.tls.certresolver: ${CERT_RESOLVER}
      {% endif %}
    depends_on:
      - mariadb

  resourcespace:
    container_name: resourcespace
    image: suntorytimed/resourcespace:latest
    restart: unless-stopped
    depends_on:
      - mariadb
    volumes:
      - resourcespace:/var/www/html
    networks:
      - traefik
      - mysql
    labels:
      traefik.enable: "true"
      traefik.http.routers.resourcespace.entrypoints: websecure
      traefik.http.routers.resourcespace.rule: Host(`${DOMAIN_RESOURCESPACE}`)
      traefik.http.routers.resourcespace.tls: "true"
      traefik.http.services.resourcespace.loadbalancer.server.port: 80
      {% if is_live %}
      traefik.http.routers.resourcespace.tls.certresolver: ${CERT_RESOLVER}
      {% endif %}

  kiwix:
    container_name: kiwix
    image: kiwix/kiwix-serve
    command:
      - --library
      - ${KIWIX_DATA_DIR}/library.xml
    restart: unless-stopped
    volumes:
      - ${KIWIX_DATA_DIR}:${KIWIX_DATA_DIR}
      - ${TRANSMISSION_DOWNLOADS_DIR}:${TRANSMISSION_DOWNLOADS_DIR}
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.kiwix.entrypoints: websecure
      traefik.http.routers.kiwix.rule: Host(`${DOMAIN_KIWIX}`)
      traefik.http.routers.kiwix.tls: "true"
      traefik.http.services.kiwix.loadbalancer.server.port: 80

  transmission:
    image: linuxserver/transmission
    container_name: transmission
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${TRANSMISSION_CONFIG_DIR}:/config
      - ${TRANSMISSION_DOWNLOADS_DIR}:/downloads
      - ${TRANSMISSION_WATCH_DIR}:/watch
    ports:
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    depends_on:
      - traefik
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.transmission.entrypoints: websecure
      traefik.http.routers.transmission.rule: Host(`${DOMAIN_TRANSMISSION}`)
      traefik.http.routers.transmission.tls: "true"
      traefik.http.services.transmission.loadbalancer.server.port: 9091

  unifi-poller:
    container_name: unifi-poller
    restart: unless-stopped
    image: golift/unifi-poller:latest
    environment:
      UP_INFLUXDB_DISABLE: "true"
      UP_UNIFI_DEFAULT_URL: ${UP_UNIFI_DEFAULT_URL}
      UP_UNIFI_DEFAULT_USER: ${UP_UNIFI_DEFAULT_USER}
      UP_UNIFI_DEFAULT_PASS: ${UP_UNIFI_DEFAULT_PASS}
    networks:
      - prometheus

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    environment:
      MYSQL_PASSWORD: ${MYSQL_PASSWORD_NEXTCLOUD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_NEXTCLOUD}
      MYSQL_USER: ${MYSQL_USER_NEXTCLOUD}
      MYSQL_HOST: ${MYSQL_HOST}
    volumes:
      - ${NEXTCLOUD_CONFIG_DIR}:/config
      - nextcloud:/var/www/html
    restart: unless-stopped
    networks:
      - mysql
      - prometheus
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.nextcloud.entrypoints: websecure
      traefik.http.routers.nextcloud.rule: Host(`${DOMAIN_NEXTCLOUD}`)
      traefik.http.routers.nextcloud.tls: "true"
      traefik.http.services.nextcloud.loadbalancer.server.port: 80
      {% if is_live %}
      traefik.http.routers.nextcloud.tls.certresolver: ${CERT_RESOLVER}
      {% endif %}

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer:/data
    networks:
      - prometheus
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.portainer.entrypoints: websecure
      traefik.http.routers.portainer.rule: Host(`${DOMAIN_PORTAINER}`)
      traefik.http.routers.portainer.tls: "true"
      traefik.http.services.portainer.loadbalancer.server.port: 9000
      {% if is_live %}
      traefik.http.routers.portainer.tls.certresolver: ${CERT_RESOLVER}
      {% endif %}

  unifi-controller:
    image: linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
    volumes:
      - unifi-controller:/config
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 1900:1900/udp
      - 6789:6789
      - 5514:5514/udp
    restart: unless-stopped
    networks:
      - prometheus
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.unifi-controller.entrypoints: websecure
      traefik.http.routers.unifi-controller.rule: Host(`${DOMAIN_UNIFI_CONTROLLER}`)
      traefik.http.routers.unifi-controller.tls: "true"
      traefik.http.services.unifi-controller.loadbalancer.server.scheme: https
      traefik.http.services.unifi-controller.loadbalancer.server.port: 8443

  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      JELLYFIN_PublishedServerUrl: https://${DOMAIN_JELLYFIN}
    volumes:
      - jellyfin:/config
      - ${JELLYFIN_DATA_DIR}:/data
      - ${TRANSMISSION_DOWNLOADS_DIR}:/downloads
    ports:
      - 7359:7359/udp
      # - 1900:1900/udp  # Can't be used at 1900 because that clashes with unif-controller
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.routers.jellyfin.rule: Host(`${DOMAIN_JELLYFIN}`)
      traefik.http.routers.jellyfin.tls: "true"
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
    networks:
      - traefik

  kolibri:
    image: neethumohan1212/kolibri
    container_name: kolibri
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    volumes:
      - kolibri:/root:rw
    labels:
      traefik.enable: "true"
      traefik.http.routers.kolibri.entrypoints: websecure
      traefik.http.routers.kolibri.rule: Host(`${DOMAIN_KOLIBRI}`)
      traefik.http.routers.kolibri.tls: "true"
      traefik.http.services.kolibri.loadbalancer.server.port: 8080
    networks:
      - traefik
