version: "3.8"
services:

  kiwix:
    container_name: kiwix
    image: kiwix/kiwix-serve
    command:
      - --library
      - /library/library.xml
    restart: unless-stopped
    volumes:
      - {{project_root}}/kiwix/data:/library
      - {{project_root}}/transmission/data:/downloads:ro
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.kiwix.entrypoints: websecure
      traefik.http.routers.kiwix.rule: Host(`{{subdomain_kiwix}}.{{domain}}`)
      traefik.http.routers.kiwix.tls: "true"
      traefik.http.services.kiwix.loadbalancer.server.port: 80

networks:
  traefik:
    external: true