session:
  name: authelia_session
  # secret is set by the env variables AUTHELIA_SESSION_SECRET_FILE
  #secret: unsecure_session_secret
  expiration: 3600  # 1 hour
  inactivity: 900  # 15 minutes
  domain: {{domain}}

authentication_backend:
  ldap:
    implementation: custom
    url: ldap://ldap:3890
    timeout: 5s
    start_tls: false
    base_dn: {{domain_ldap}}
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    username_attribute: uid
    mail_attribute: mail
    display_name_attribute: displayName
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"
    group_name_attribute: cn
    permit_referrals: false
    permit_unauthenticated_bind: false
    user: uid=admin,ou=people,{{domain_ldap}}
    password: "{{password_admin}}"

  # Password reset through authelia works normally.
  password_reset:
    disable: false

storage:
  encryption_key: {{storage_encryption_key_authelia}}
  local:
    path: /data/db.sqlite3

# rules should be set by docker labels so each service can control it's protection policy 
access_control:
  networks:
  - name: internal
    networks:
    - '10.0.0.0/8'
    - '172.16.0.0/12'
    - '192.168.0.0/18'
  default_policy: one_factor

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

notifier:
  disable_startup_check: false
{% if "mail" in services %}
  smtp: # authelia requires STARTLS for SMTP connection
    username: admin
    password: {{password_admin}}
    host: {{domain}}
    port: {{smtp_port}}
    sender: admin@{{domain}}
{% else %}
  filesystem:
    filename: /config/notification.txt
{% endif %}
