version: "3.8"

networks:
  traefik:
    external: true
  mail:
    external: true
  postgres:
    external: true

services:
  authelia:
    container_name: authelia
    user: "{{uid}}:{{gid}}"
    image: authelia/authelia
    restart: unless-stopped
    networks:
      - traefik
      - mail
      - postgres
    # expose:
    #   - 9091
    volumes:
      - {{app_root}}/conf/:/config/
      - {{app_root}}/data/:/data/
    environment:
      TZ: "{{tz}}"
      AUTHELIA_JWT_SECRET: "{{jwt_secret_authelia}}"
      AUTHELIA_SESSION_SECRET: "{{session_secret_authelia}}"
      # AUTHELIA_STORAGE_PASSWORD: "{{storage_password_authelia}}"
      # AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{storage_encryption_key_authelia}}"
      AUTHELIA_NOTIFIER_SMTP_PASSWORD: "{{password_smtp_authelia}}"
    labels:
      traefik.enable: true
      traefik.http.routers.authelia.rule: Host(`auth.{{domain}}`)
      traefik.http.routers.authelia.entryPoints: websecure
      traefik.http.routers.authelia.tls: true
      traefik.http.middlewares.authelia.forwardAuth.address: http://authelia:9091/api/verify?rd=https%3A%2F%2Fauth.{{domain}}%2F
      traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader: true
      traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email
      traefik.http.middlewares.authelia-basic.forwardAuth.address: http://authelia:9091/api/verify?auth=basic
      traefik.http.middlewares.authelia-basic.forwardAuth.trustForwardHeader: true
      traefik.http.middlewares.authelia-basic.forwardAuth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email
