repo_url: "https://{{subdomain_fdroid}}.{{domain}}/fdroid/repo"
repo_name: "{{repo_name_fdroid}}"
repo_description: """
Android packages repository provided by Lokal
"""
keystore: /repo/signing_key.keystore
keystorepass: {{password_fdroid}}
keypass: {{password_fdroid}}
repo_keyalias: fdroid
sdk_path: $ANDROID_HOME
