version: "3.8"
services:
  netdata:
    image: netdata/netdata:{{version_netdata}}
    container_name: netdata
    user: "0:{{gid}}"
    cap_add:
    - SYS_PTRACE
    environment:
      PUID: '{{uid}}'
    hostname: {{subdomain_netdata}}.{{domain}}
    labels:
      traefik.enable: "true"
      traefik.http.routers.netdata.entrypoints: websecure
      traefik.http.routers.netdata.rule: Host(`{{subdomain_netdata}}.{{domain}}`)
      traefik.http.routers.netdata.tls: "true"
      traefik.http.services.netdata.loadbalancer.server.port: 19999
      # traefik.http.routers.netdata.middlewares: authelia@docker
      traefik.http.routers.netdata.middlewares: admin-auth
{% if ssl_use_acme %}
      traefik.http.routers.netdata.tls.certresolver: {{cert_resolver}}
{% endif %}
    networks:
      - traefik
      - prometheus
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
networks:
  traefik:
    external: true
  prometheus:
    external: true
