version: "3.8"

services:
  mail:
    image: docker.io/mailserver/docker-mailserver:latest
    # user: "{{uid}}:{{gid}}"  # will drop privileges itself
    container_name: mail
    domainname: "{{domain}}"
    hostname: "mail"
    env_file: "{{app_root}}/mailserver.env"
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    # ports:
    #   - "25:25"    # SMTP  (explicit TLS => STARTTLS)
    #   - "143:143"  # IMAP4 (explicit TLS => STARTTLS)
    #   - "465:465"  # ESMTP (implicit TLS)
    #   - "587:587"  # ESMTP (explicit TLS => STARTTLS)
    #   - "993:993"  # IMAP4 (implicit TLS)
    volumes:
      - {{app_root}}/data/:/var/mail/
      - {{app_root}}/state/:/var/mail-state/
      - {{app_root}}/logs/:/var/log/mail/
      - {{app_root}}/config/:/tmp/docker-mailserver/
{% if not ssl_use_acme %}
      - {{project_root}}/{{domain}}.key:/var/certs/{{domain}}.key
      - {{project_root}}/{{domain}}.crt:/var/certs/{{domain}}.crt
{% endif %}
    restart: always
    stop_grace_period: 1m
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 0


