authentication_backend:
  ldap:
    implementation: custom
    url: ldap://ldap:1389
    timeout: 5s
    start_tls: false
    base_dn: DC=lokal
    additional_users_dn: OU=users
    users_filter: (&({username_attribute}={input})(objectClass=person))
    username_attribute: uid
    mail_attribute: mail
    display_name_attribute: displayName
    additional_groups_dn: OU=groups
    groups_filter: (&(member={dn})(objectClass=groupOfNames))
    group_name_attribute: cn
    permit_referrals: false
    permit_unauthenticated_bind: false
    user: CN=admin,DC=lokal
    password: {{password_auth}}

storage:
  encryption_key: {{storage_encryption_key_authelia}}
  local:
    path: /config/db.sqlite3