version: "3.8"
services:
  kiwix:
    container_name: kiwix
    image: kiwix/kiwix-serve  # TODO: pin version
    user: "{{uid}}:{{gid}}"  # run the container service as app user (not root)
    command:
      - --library
      - /library/library.xml
    restart: unless-stopped
    volumes:
      - {{project_root}}/kiwix/data:/data
      - {{project_root}}/kiwix/library:/library
      - {{project_root}}/base/transmission/data:/downloads:rw
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.kiwix.entrypoints: websecure
      traefik.http.routers.kiwix.rule: Host(`{{subdomain_kiwix}}.{{domain}}`)
      traefik.http.routers.kiwix.tls: "true"
      traefik.http.services.kiwix.loadbalancer.server.port: 80
{% if server_is_live %}
      traefik.http.routers.kiwix.tls.certresolver: {{cert_resolver}}
{% endif %}

networks:
  traefik:
    external: true
