version: "3.8"
services:
  docs_builder:
    image: squidfunk/mkdocs-material
    command: build
    user: "{{uid}}:{{gid}}"
    restart: "no"
    volumes:
    - "{{app_root}}/data:/docs"
    - "{{app_root}}/web:/docs/site"

  docs:
    image: halverneus/static-file-server
    user: "{{uid}}:{{gid}}"
    volumes:
    - "{{app_root}}/web:/web:ro"
    restart: always
    labels:
      traefik.enable: "true"
      traefik.http.routers.docs.entrypoints: websecure
      traefik.http.routers.docs.rule: Host(`{{subdomain_docs}}.{{domain}}`)
      traefik.http.routers.docs.tls: "true"
{% if ssl_use_acme %}
      traefik.http.routers.docs.tls.certresolver: {{cert_resolver}}
{% endif %}
      traefik.http.services.docs.loadbalancer.server.port: 8080
    networks:
      - traefik

networks:
  traefik:
    external: true
